.style-file {
  display: grid;
  grid-template-columns: 35% 65%;
}

.style-section,
.file-section {
  display: flex;
  flex-direction: column;
  gap: .75rem;
}

.file-actions {
  display: flex;
  align-items: baseline;
  gap: .75rem;
}

.file-actions label {
  background-color: var(--shape-button);
  padding: .6rem .5rem;
  border-radius: .5rem;
  align-items: center;
  display: flex;
  gap: .5rem;

  cursor: pointer;
}

.file-actions p {
  margin: 0;
  font: var(--body-md);
  font-weight: 200;
  color: var(--input-placeholder);
}


