.switch {
  display: flex;
  position: relative;

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"] + .slider {
    margin-top: 2rem;
    position: absolute;
    display: flex;
    align-items: center;

    cursor: pointer;
  }

  input[type="checkbox"] + .slider::before {
    content: "";
    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
    border-radius: 2rem;
    width: 4rem;
    height: 2rem;
  }

  input[type="checkbox"] + .slider::after {
    position: absolute;
    content: "";
    background-color: var(--input-stroke);
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    left: 1rem;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
  }

  input[type="checkbox"]:checked + .slider::before {
		background-color: var(--brand-light);
	}

  input[type="checkbox"]:checked + .slider::after {
		background-color: var(--text-heading);
		transform: translateX(90%) translateY(-50%);
  }

  .text {
        position: absolute;
        left: 5.2rem;
        top: 270%;
        transform: translateY(-50%);
	    	font: var(--body-sm);
        color: var(--text-heading);

		cursor: pointer;
    }

    input[type="checkbox"] ~ .text::after {
        content: "Escuro";
    }

    input[type="checkbox"]:checked ~ .text::after {
        content: "Claro";
    }
}

