@import url(fields/index.css);

form {
  margin-top: 2.5rem;
}

fieldset {
  border: none;

  display: grid;
  gap: 1rem;
}

legend {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  font: var(--heading-sm);
  color: var(--text-heading);
  margin-bottom: 1.625rem;  
}

fieldset + fieldset {
  margin-top: 3rem;
}

.actions-wrapper {
  margin-top: 3rem;
  margin-left: auto;
}

