* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-light: #59B2FF;
  --brand-mid: #3487CF;
  --brand-dark: #1D6FB6;

  --danger: #FF5959;
  --pink: #FF598B;

  --input-base: #1C1F21;
  --input-stroke: #363B40;
  --input-placeholder: #869198;

  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2D3136;
  --shape-hover: #383D42;

  --text-body: #C8CDD0;
  --text-heading: #F9F9F9;

  /* Famílias tipográficas */
  --font-family: "Open Sans", sans-serif;
  --font-leckerlione: "Leckerli One", cursive;
  --font-baloo: "Baloo 2", sans-serif;
 

  /* Estilos de texto */
  --body-md: 300 1rem/1.4 var(--font-family);
  --body-sm: 400 0.875rem/1.4 var(--font-family);
  --body-xs: 400 0.75rem/1.4 var(--font-family);
 
  --heading-md: 700 1.75rem/1.4 var(--font-baloo);
  --heading-sm: 700 1.125rem/1.4 var(--font-baloo);

  --text-logo: 400 2.5rem/1.0 var(--font-leckerlione);
}

body {
  background-color: #1e1e1e;

  font: var(--body-sm);
  color: var(--text-body);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.about-event .flex {
  gap: 1rem;
}

.contact .flex {
  gap: 1rem;
}







