#app {
  display: grid;
  grid-template-columns: 32.79% 1fr;
  gap: 1.25rem;

  height: 100vh;
  overflow: hidden;

  max-width: 76.25rem;
  width: 100%;
  margin: auto;

}

aside {
  background: linear-gradient(180deg, rgba(33, 37, 38, 0.8) 0%, rgba(33, 37, 38, 0.65) 20%, rgba(33, 37, 38, 0.3) 40.5%, rgba(33, 37, 38, 0.1) 100%), url(../assets/background.svg) no-repeat center/contain;
  padding: 2rem;

  height: 45.5rem;
  border-radius: 0.75rem;

  & .aside-container {    
    max-width: 21rem;
    overflow: hidden;

    & > img {
      margin-bottom: 1rem;
    }

    & h1 {
      font: var(--text-logo);
      color: var(--pink);
      margin-bottom: 0.25rem;
    }

    & p {
      font: var(--body-md);
      color: var(--text-heading);
    }    
  }
}

main {
  overflow: auto;
  padding: 5rem 8.125rem;

  & .main-container {
    max-width: 35rem;
  
     & h2 {
      font: var(--heading-md);
      color: var(--text-heading);
      margin-bottom: 2.5rem;
    }
  }

  & .color-group {
    max-width: 31.5rem;
  }

 
}

